.el-dialog__footer {
  display: flex;
  justify-content: center;
}

.el-dialog .el-input {
  max-width: 300px;
}

.back-button {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 0 10px 0;
  background-color: #fbfbfb;
}
